.row {
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
}
.col {
  min-height: 100vh;
  text-align: left;
  font-size: 1em;
  color: white;
  padding: 2em;
}

header {
  font-size: 2em;
  margin: 1em 0em 1em 0em;
}

td,
th {
  padding: 0.8em;
}

button {
  cursor: pointer;
  padding: 0.5em;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: rgb(216, 46, 46);
}
